/* ==========================================================================
   #CARDS
   ========================================================================== */

.c-card {
  display: inline-block;
  border-radius: $base-border-radius-small;
  box-shadow: $base-box-shadow;
}
